<a href="https://colab.research.google.com/github/yanaguntikarmeesal/demo_meesal/blob/main/until_5_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q 1) write a program to print n natural number in descending order using a while loop ?

In [ ]:
n = int(input("enter the number : ")) #10
while(n!=0):
  # print(n) # print vertical number format
  print(n,end=" ") # print horizontal number format
  n = n-1

Q 2)write a program that appends the square of each number to a new list

given a = [2 3 4 5 6 7 8 ]

expected output

result [4 9 16 25 36 49 64 ]

In [ ]:
a = [2,3,4,5,6,7,8]
b = []
for i in range(len(a)):
  b.append(a[i]**2)
print("result",b)

Q 3) write a program that appends the type of elements from a list.

given x = [ 23 python 10.5 ]

expected output

result:

class=int   class= string   class=float

In [ ]:
a = [20,"python",10.5]
b = []
for i in range(len(a)):
  b.append(type(a[i]))
print(a)
print(b)

Q 4) write a program to filter even and odd number from a list.

given a = [1 2 3 4 5 6 7 8 9 10 ]

expected output

even number: [ 2 4 6 8 10 ]
odd number : [ 1 3 5 7 9 ]

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
even_number = []
odd_number = []

for i in range(len(a)):
  if a[i]%2==0:
    even_number.append(a[i])
  else:
    odd_number.append(a[i])
print("even number : ",even_number)
print("odd number : ",odd_number)

Q 5) python program to convert the month name to a number of a day

In [ ]:
month_name = input("enter the month name : ")

if month_name == "january":
  print("number of days : 31",month_name)
elif month_name == "february":
  print("number of days : 28/29",month_name)
elif month_name == "march":
  print("number of days : 31",month_name)
elif month_name == "april":
  print("number of days : 30",month_name)
elif month_name == "may":
  print("number of days : 31",month_name)
elif month_name == "june":
  print("number of days : 30",month_name)
elif month_name == "july":
  print("number of days : 31",month_name)
elif month_name == "august":
  print("number of days : 31",month_name)
elif month_name == "september":
  print("number of days : 30",month_name)
elif month_name == "october":
  print("number of days : 31",month_name)
elif month_name == "november":
  print("number of days : 30",month_name)
elif month_name == "december":
  print("number of days : 31",month_name)
else:
  print("invalid input")

Q 6) python program that accepts a word from the user and reverse it

In [ ]:
# a = input("enter the word : ")
# b = a[::-1]
# print(b)

a = input("enter the word : ")
b = ""
for i in a:
  b = i+b
print(b)

Q 7) python program to count the total number of digits in a number ?

In [ ]:
num = 12345
num = str(num)
a = 0
for i in num:
  a = a+1
print(a)

Q 8) find the factorial of a given number ?

if number 4 is factorial

output : 4x3x2x1 = 24

In [ ]:
num = int(input("enter the number : "))
fact = 1
if num < 0:
  print("factorial does not exist for negative number")
elif num == 0:
  print("factorial of 0 is 1")
else:
  for i in range(1,num+1):
    fact = fact*i
  print("factorial of",num,"is",fact)

Q 9) write a program to calculate the sum of series up to term for example if n=5 the series will become 2+22+222+2222+22222=24690 ?

In [ ]:
number = 5
start = 2
total_sum = 0

for i in range(0,number):
  print(start,end="+")
  total_sum = total_sum + start
  start = (start*10)+2
print(total_sum)

Q 10) write  a program to display  all prime numbers with in a range between 25 to 50 ?

In [ ]:
start = 25
end = 50
print("prime numbers between",start,"and",end,"are : ")

for num in range(start,end+1):
  if num > 1:
    for i in range(2,num):
      if (num%i) == 0:
        break
    else:
      print(num)